{{! HEADER }}
<nav
  class='navbar'
  role='navigation'
  aria-label='main navigation'
>
  <div class='navbar-brand'>
    <a class='navbar-item' href='https://bulma.io'></a>
    <a
      role='button'
      class='navbar-burger'
      aria-label='menu'
      aria-expanded='false'
      data-target='navbarBasicExample'
    >
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>

  <div id='navbarBasicExample' class='navbar-menu'>

    <div class='navbar-end'>
      <div class='navbar-item'>
        <div class='buttons'>
          {{#if user}}
            <div
              style='display: flex;
                      align-items: center;'
            >
              <div>
                <h4
                  class='title is-4'
                  style='margin-right: 15px;'
                >👋 Hola
                  {{user.first_name}}
                  {{user.last_name}}</h4>
              </div>
              <div style='margin-right: 10px;'>
                <a
                  class='button is-info'
                  onclick='goToCart()'
                >
                  <strong>Cart</strong>
                </a>
              </div>
              <div style='margin-right: 10px;'>
                <a
                  class='button is-light'
                  onclick='goToLogout()'
                >
                  Logout
                </a>
              </div>

            </div>
          {{else}}
            <div>
              <a
                class='button is-primary'
                onclick='goToRegister()'
              >
                <strong>Sign up</strong>
              </a>
              <a
                class='button is-light'
                onclick='goToLogin()'
              >
                Log in
              </a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>

<section class='mt-6'>
  <div
    class='container is-flex is-flex-wrap-wrap'
    id='products-container'
  >
  </div>
</section>
{{!PAGINATION  }}
<div id='pagination-container' style='margin:50px;'></div>

<script src='/js/home.js'></script>