
<div class="container">
        <div class="field">
            <label class="label mt-6">Login</label>
            <form action="/auth/login" method="post" class="control has-icons-left has-icons-right">
                <input class="input is-success mt-3" type="text" name="email" placeholder="email" >
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <input class="input is-success mt-3" type="password" name="password" placeholder="Password" >
                <button type="submit" class="button is-primary mt-3">Ingresar</button>
            </form>
            <button class="button is-primary mt-3" onclick="location.href='/auth/github'">Autenticarse con GITHUB</button>
            <h3>¿Aún no te has registrado?</h3>
            <button class="button is-danger mt-3" onclick="location.href='/auth/register'">Crea tu usuario aquí</button>
            </div>
        </div>
</div>