<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <div class="four_zero_four_bg2">
            <h1 class="text-center">404</h1>

          </div>

          <div class="contant_box_404">
            <h3 class="title is-1">
              Look like you're lost
            </h3>

            <p class="title is-3">The page you are looking for not avaible!</p>

            <a href="/home" class="button is-primary">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>